@model Project2.Models.Booking
<h2>Edit Booking</h2>
<h3>@TempData["Msg"]</h3>

<!-- Specify the handler method where the form data will be posted -->
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="DisplayList" class="btn btn-secondary">Back to List</a>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
